@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;600;700&display=swap');

:root {
    --theme: #F0EFE9;
    --theme-yellow: #F9D783;
    --theme-orange: #F94D1C;
}


* {
    font-size: 16px;
    font-family: 'Inter', 'Dm Sans', sans-serif;
    color: #191919;
}

.unactive-color {
    color: rgb(25, 25, 25, 20%);
}

.container {
    padding: 0;
}

p {
    margin: 0;
}

a:hover p {
    color: var(--theme-yellow);
}
a:hover i {
    color: var(--theme-yellow);
}

.yellow-btn {
    background-color: var(--theme-yellow);
    border: none;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 50px;
    gap: 10px;
    font-weight: 600;
}
.beige-btn {
    background-color: var(--theme);
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 50px;
    gap: 10px;
    font-weight: 600;
}
.black-btn {
    background-color: #191919;
    color: var(--theme);
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-radius: 50px;
    gap: 10px;
    font-weight: 600;
}
    .black-btn i {
        color: var(--theme);
    }
    



.header-menu {
    background-color: var(--theme);
    position: relative;
}

    .header-menu .top-menu {
        display: flex;
        justify-content: space-between;
    }
    
        .header-menu .top-menu .contact-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 30px;
            margin-top: 5px;
        }

            .header-menu .top-menu .contact-info .contact-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
                .header-menu .top-menu .contact-info .contact-links .contact-information {
                    display: flex;
                    flex-direction: row;
                    flex: 1;
                }
                    .header-menu .top-menu .contact-info .contact-links .contact-information .contact-link {
                        display: flex;
                        flex-direction: row;
                        align-items: end;
                    }
                        .header-menu .top-menu .contact-info .contact-links .contact-information .contact-link i {
                            font-size: 25px;
                            margin-left: 15px;
                            margin-right: 10px;
                            margin-bottom: 3px;
                        }
                        .header-menu .top-menu .contact-info .contact-links .contact-information .contact-link p {
                            font-size: 15px;
                            font-weight: 300;
                        }
                        .header-menu .top-menu .contact-info .contact-links .contact-information .contact-link:first-child i {
                            margin-left: 0px;
                        }
                        .header-menu .top-menu .contact-info .contact-links .contact-information .contact-link .menu-divider {
                            height: 80%;
                            align-self: center;
                            margin-left: 15px;
                            border: rgb(0, 0, 0, 10%) 1px solid;
                        }

                .header-menu .top-menu .contact-info .contact-links .social-media {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                }
                    .header-menu .top-menu .contact-info .contact-links .social-media a i {
                        font-size: 15px;
                        margin: 10px 10px;
                    }

            .header-menu .top-menu .contact-info .middle-divider {
                border: rgb(0, 0, 0, 10%) 1px solid;
                margin: 10px 0 20px 0;
            }       

            .header-menu .top-menu .contact-info .menu-links {
                display: flex;
                justify-content: space-between;
                align-items: end;
            } 
                .header-menu .top-menu .contact-info .menu-links .menu-options {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 35px;
                } 
                    .header-menu .top-menu .contact-info .menu-links .menu-options a {
                        font-weight: 400;
                        text-decoration: none;

                    } 
                    .header-menu .top-menu .contact-info .menu-links .menu-options a:first-child {
                        text-decoration: underline black;
                    } 
    
                    
    .menu-showcase {
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

        .menu-showcase .left-showcase h1 {
            font-family: 'Dm sans';
            font-size: 60px;
            font-weight: 700;
        }
        .menu-showcase .left-showcase h2 {
            font-family: 'Inter';
            font-size: 20px;
            font-weight: 400;
            color: rgb(25, 25, 25, 70%);
        }
        .menu-showcase .left-showcase .showcase-buttons {
            margin-top: 50px;
            display: flex;
            gap: 20px;
            z-index: 1;
            position: relative;

        }
        .menu-showcase .right-showcase img {
            z-index: 1;
            position: relative;
        }

    .bottom-showcase img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

.partners {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.features {
    border: rgb(25, 25, 25, 10%) 1px solid;
    margin: 60px 10%;
    padding: 80px 200px 80px 100px;
}

    .features .features-container {
        display: flex;
        flex-direction: row;
        gap: 190px;
    }
        .features .features-container .left-features {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
            .features .features-container .left-features .yellow-btn {
                width: 100%;
                justify-content: center;
            }
        .features .features-container .right-features {
            flex: 1;
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(2, 1fr);
        }
            .features .features-container .right-features .small-card  {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
                .features .features-container .right-features .small-card i {
                    font-size: 30px;
                }
                .features .features-container .right-features .small-card h2 {
                    font-size: 22px;
                    font-family: 'Dm sans';
                    font-weight: 700;
                }
                .features .features-container .right-features .small-card p {
                    color: rgb(25, 25, 25, 70%);
                }


.about-us {
    display: flex;
    gap: 200px;
    position: relative;
}
    .about-us .left-about {
        padding-left: 50px;
        flex: 1;
    }
        .about-us .left-about .wavy-left {
            position: absolute;
            left: 15px;
            top: 8%;
        }
        .about-us .left-about .samantha-img {
            width: 100%;
        }
        .about-us .left-about .blue-square {
            background-color: #BEEBFF;
            position: absolute;
            left: 0;
            bottom: 10%;
            width: 370px;
            height: 180px;
            box-shadow:#959595 -3px 1px 10px;
            border-radius: 3px;
            padding: 20px;
        }
            .about-us .left-about .blue-square h1 {
                font-family: 'Dm sans';
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .about-us .left-about .blue-square span {
                color: var(--theme-orange);
            }

    .about-us .right-about {
        padding-right: 50px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
        .about-us .right-about .about-text {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
            .about-us .right-about .about-text h3 {
                color: var(--theme-orange);
                font-size: 18px;
                margin-bottom: 20px;
            }
            .about-us .right-about .about-text h1  {
                font-size: 45px;
                font-weight: 700;
                font-family: 'Dm sans';
            }
            .about-us .right-about .about-text p  {
                color: rgb(25, 25, 25, 70%);
                margin-top: 30px;
            }
        .about-us .right-about .about-buttons  {
            display: flex;
            margin-top: 40px;
            gap: 30px;
            align-items: center;
        }
            .about-us .right-about .about-buttons .white-button {
                background-color: white;
                border: black solid 1px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }
                .about-us .right-about .about-buttons .white-button i {
                    font-size: 10px;
                }


.our-services {
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 120px 0;
}  
    .our-services .wavy-right {
        position: absolute;
        right: 0;
        bottom: 0;
    }       
    .our-services .container > p {
        color: var(--theme-orange);
        font-size: 18px;
        margin-bottom: 10px;
    }  
    .our-services .container > h1 {
        font-weight: 700;
        font-family: 'Dm sans';
        font-size: 45px;
    }  

    .our-services .container .service-cards {
       display: flex;
       align-items: center;
       justify-content: space-between;
       gap: 30px;
    }  
        .our-services .container .service-cards .service-card{
            background-color: white;
            padding: 45px 25px;
            height: 100%;
            border: white 1px solid;
            position: relative;
            margin: 50px 0;
        }  
            .our-services .container .service-cards .service-card .gray-line {
                width: 15%;
                margin-bottom: 45px;
                border: rgb(25, 25, 25, 70%) 1px solid;
            }  
            .our-services .container .service-cards .service-card h2{
                font-family: 'Dm sans';
                font-size: 22px;
                margin-bottom: 15px;
            } 
            .our-services .container .service-cards .service-card p{
                color: rgb(25, 25, 25, 70%);
                margin-bottom: 100px;
            } 
            .our-services .container .service-cards .service-card button{
                position: absolute;
                right: 25px;
                bottom: 55px;
                border-radius: 50%;
                height: 56px;
                width: 56px;
                display: flex;
                justify-content: center;
                padding: 0;
            } 
                .our-services .container .service-cards .service-card button i{
                    font-size: 25px;
                } 

        .our-services .container .service-cards .service-card:hover {
            background-color: var(--theme-yellow);
            border: var(--theme-yellow) 1px solid;
        }  
            .our-services .container .service-cards .service-card:hover button {
                background-color: white;
                border: white 1px solid;
            }  
            .our-services .container .service-cards .service-card:hover button i {
                color: #191919;
            }  

            
.choose-us {
    position: relative;
}

    .choose-us .beige-background {
        position: absolute;
        background-color: var(--theme);
        width: 55%;
        height: 70%;
        z-index: 0;
        right: 0;
        bottom: 0;
    }
    .choose-us .container {
        display: flex;
    }
    .choose-us .container .choice-right  {
        display: flex;
        justify-content: start;
        flex: 1;
    }
        .choose-us .container .choice-right img {
            width: 85%; 
            height: fit-content;
            z-index: 1;
        }
        .choose-us .container .choice-left {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 20px;
            z-index: 1;
        }
            .choose-us .container .choice-left > p {
                color: var(--theme-orange);
                font-size: 18px;
            }
            .choose-us .container .choice-left > h1 {
                font-size: 45px;
                font-family: 'Dm sans';
                font-weight: 600;
                width: 70%;
            }
            .choose-us .container .choice-left .choice-list {
                    display: flex;
                    gap: 20px;
            }    
                .choose-us .container .choice-left .choice-list .choice-icon {
                    border: rgb(0, 0, 0, 20%) solid 1px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }    
                    .choose-us .container .choice-left .choice-list .choice-icon i {
                        font-size: 25px;
                    }  
                .choose-us .container .choice-left .choice-list .choice-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                }  
                    .choose-us .container .choice-left .choice-list .choice-text h3 {
                        font-family: 'Dm sans';
                        font-size: 22px;
                        margin-bottom: 2px;
                    }  
                    

.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}     
    .project-section > p {
        color: var(--theme-orange);
        font-size: 18px;
        margin-bottom: 30px;
    }        
    .project-section > h1 {
        font-size: 45px;
        font-family: 'Dm sans';
        margin-bottom: 100px;
    }    
    .project-section .big-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }    
        
        .project-section .big-grid .grid-card  {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }  
            .project-section .big-grid .grid-card button {
                align-self: flex-end;
                margin-top: 15px;
                border: none;
                background-color: white;
            }  
            .project-section .big-grid .grid-card img {
                width: 100%;
                height: 100%;
                margin-bottom: 20px;
            }  
            .project-section .big-grid .grid-card .gray-line {
                width: 100%;
                border: rgb(25, 25, 25, 10%) solid 1px;
            } 
            .project-section .big-grid .grid-card > p {
                font-family: 'Dm sans';
                font-size: 22px;
            } 
    .project-section .black-btn {
        margin-top: 70px;
        background: black;
        font-weight: 300;
    }  
        .project-section .black-btn i {
            font-weight: 300;
        } 


.orange-section {
    background: var(--theme-yellow);
    display: flex;
    flex-direction: column;
    padding: 125px 0;
}
        .orange-section .container .meet-our-team{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
            .orange-section .container .meet-our-team .team-title {
                width: 100%;
            }
                .orange-section .container .meet-our-team .team-title .browse-team{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 50px;
                }
                .orange-section .container .meet-our-team .team-title p{
                    color: var(--theme-orange);
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                    .orange-section .container .meet-our-team .team-title .browse-team h1{
                        font-size: 45px;
                        font-family: 'Dm sans';
                        margin-bottom: 0;
                    }
                    .orange-section .container .meet-our-team .team-title .browse-team .yellow-btn{
                        border: black 1px solid;
                    }
            .orange-section .container .meet-our-team .team-cards{
                display: grid;
                width: 100%;
                gap: 30px;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                margin-bottom: 45px;
            }
                    .orange-section .container .meet-our-team .team-cards .team-card h2 {
                        font-family: 'Dm sans';
                        font-size: 22px;
                        margin-bottom: 5px;
                    }
                    .orange-section .container .meet-our-team .team-cards .team-card p {
                        color: rgb(25, 25, 25, 70%);
                    }
                    .orange-section .container .meet-our-team .team-cards .team-card img{
                        width: 100%;
                        height: 420px;
                        margin-bottom: 30px;
                    }
            .orange-section .container .meet-our-team .small-dots {
                margin-bottom: 50px;
            }
    .orange-section .reviews {
        background-color: white;
        margin: 0 10%;
        padding: 100px 0;
    }
        .orange-section .reviews .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .orange-section .reviews .container p {
                color: var(--theme-orange);
                font-size: 18px;
                margin-bottom: 20px;
            }
            .orange-section .reviews .container > h1 {
                font-size: 45px;
                font-family: 'Dm sans';
                margin-bottom: 90px;
            }
            .orange-section .reviews .container .review-cards {
               display: flex;
               gap: 100px;
               margin-bottom: 100px;
            }
                    .orange-section .reviews .container .review-cards .review-card .stars {
                        margin-bottom: 20px;
                    }
                        .orange-section .reviews .container .review-cards .review-card .stars i {
                            color: var(--theme-orange);
                        }
                    .orange-section .reviews .container .review-cards .review-card .comment {
                        color: rgb(25, 25, 25, 70%);
                        font-size: 18px;
                        font-weight: 100;
                        margin-bottom: 20px;
                    }
                    .orange-section .reviews .container .review-cards .review-card .user-review {
                        display: flex;
                        align-items: center;
                    }
                        .orange-section .reviews .container .review-cards .review-card .user-review .picture {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                            .orange-section .reviews .container .review-cards .review-card .user-review .picture img {
                                width: 100%;
                                height: 100%;
                            }
                        .orange-section .reviews .container .review-cards .review-card .user-review h2 {
                            margin: 0 10px;
                            font-family: 'Dm sans';
                            font-size: 22px;
                        }
                        .orange-section .reviews .container .review-cards .review-card .user-review p {
                            margin: 0 10px;
                            font-size: 16px;
                        }
                